.card {
  position: relative;
  min-width: 260px;
  height: 350px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 20px;
  transition: 0.35s;
}

.card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px 10px rgba(0, 0, 0, 0.2), 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.35s;
}

.card .box:hover {
  transform: translateY(-50px);
}

.card .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(32, 32, 32, 0.1);
}

.card .box .content {
  padding: 20px;
  text-align: center;
}

.card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.1);
}

.card .box .content h3 {
  font-size: 1.8rem;
  color: #000;
  z-index: 1;
  transition: 0.35s;
  margin-bottom: 15px;
}

.card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0, 0.7);
  z-index: 1;
  transition: 0.35s;
}
.card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.35s;
}
