@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-1-color:#EE5054;
  --primary-2-color:#A6373A;
  --bg-color:#ffffff;
  --border-1-color:#D9DADB;
  --border-2-color:#B8B8B8;
  --light-text-color:#FFFFFF;
  --dark-text-color:#000000;
  --grey-text-1-color:#939699;

}