.tc-btn-left {
  text-align: end;
}
.tc-div-text {
  display: flex;
  padding: 10px;
}
.tc-div-showData {
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}
.tc-p-text {
  margin-right: 10px;
  color: rgb(114, 114, 114);
}
.tc-span-text {
  width: 150px;
}
.tc-span-icon {
  font-size: 17px !important;
  cursor: pointer !important;
  padding-inline: 5px;
}
.tc-div-col {
  margin-top: 20px;
}
